{
    "extends":  ["react-app", "eslint:recommended", "plugin:prettier/recommended"],
    "rules": {
        "prettier/prettier": ["error", {
          "singleQuote": true
        }],
        "prefer-const": "error",
        "no-console": "warn"
      }
}